.menu {
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  @media (min-width: 1024px) {
    padding: 0;
  }
  &__logo {
    width: auto;
    height: 32px;
    @media (min-width: 1024px) {
      position: absolute;
      z-index: 2;
      left: 16px;
    }
  }
  &__close {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__list {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 90%;
    right: -90%;
    top: 0;
    box-shadow: -4px 0px 12px 4px rgba(0, 0, 0, 0.05);
    transition: right 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 2;
    @media (min-width: 768px) {
      width: 35%;
      right: -35%;
    }
    @media (min-width: 1024px) {
      width: 100%;
      position: relative;
      right: 0;
      z-index: unset;
    }
    &_show {
      right: 0;
    }
  }
  &__list-items {
    margin: 23px 0 0 0;
    padding: 0 8px;
    @media (min-width: 1024px) {
      display: flex;
      margin: 0;
      padding: 0 0 0 64px;
    }
  }
  &__item {
    list-style: none;
    display: flex;
    color: rgba(0, 0, 0, 0.64);
    transition: all 0.3s linear;
    &:hover {
      background-color: #fbfbfb;
      color: #006be8;
    }
    &_active {
      background-color: #fbfbfb;
      color: #006be8;
    }
  }
  &__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: inherit;
    padding: 20px 0 20px 32px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    @media (min-width: 1024px) {
      padding: 20px 24px;
    }
    &-ico {
      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}
